
/*
 * ZEN STYLES
 *
 * This is an example stylesheet. Sub-themes should NOT include the zen/zen.css
 * file, but instead copy this CSS to their own stylesheets.
 *
 * In this stylesheet, we have included all of the classes and IDs from this
 * theme's tpl.php files. We have also included many of the useful Drupal core
 * styles to make it easier for theme developers to see them.
 *
 * Many of these styles are over-riding Drupal's core stylesheets, so if you
 * remove a declaration from here, the styles may still not be what you want
 * since Drupal's core stylesheets are still styling the element. See the
 * drupal5-reference.css file for a list of all Drupal 5.x core styles.
 *
 * In addition to the style declarations in this file, other Drupal styles that
 * you might want to override or augment are those for:
 *
 *   Book Navigation  See line 74  of Zen's drupal5-reference.css file
 *   Forum            See line 197 of Zen's drupal5-reference.css file
 *   Menus            See line 667 of Zen's drupal5-reference.css file
 *   News Aggregator  See line 20  of Zen's drupal5-reference.css file
 *   Polls            See line 287 of Zen's drupal5-reference.css file
 *   Search           See line 320 of Zen's drupal5-reference.css file
 *   User Profiles    See line 945 of Zen's drupal5-reference.css file
 */


/** body **/
  body
  {
    background:#EBEFF2 url(images/body_main.png) repeat-y scroll center top;
    font-family: Helvetica, Arial, "Lucida Grande", Verdana, sans-serif;
    line-height:1.5;
    font-size:75%;
    color: #333333;
  }

  html > body
  {
    font-size:12px;
  }
    
  #page
  {
  }

  #page-inner
  {
  }

/** header **/
  #header
  {
  }

  #header-inner
  {
  }

  #logo-title /* Wrapper for logo, website name, and slogan */
  {
    color:#000000;
    padding:1.5em 0pt 0pt;
  }

  #logo /* Wrapper for logo */
  {
  }

  #logo-image /* The actual logo image */
  {
  }

  #site-name /* The name of the website */
  {
    font-family:arial,sans-serif;
    font-size:3em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    letter-spacing:-0.05em;
    line-height:1.2em;
  }

  #site-name a:link,
  #site-name a:visited
  {
    color: #000;
    text-decoration: none;
  }

  #site-name a:hover
  {
    color: #fff; background: #000;
  }

  #site-slogan /* The slogan (or tagline) of a website */
  {
    border-top:1px solid #CCCCCC;
    color:#666666;
    font-family:arial,sans-serif;
    font-size:0.75em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    letter-spacing:0.2em;
    line-height:normal;
    margin:0.4em 0pt 0pt;
    padding:0.6em 0pt 0pt 1.5em;
    text-align:right;
    text-transform:uppercase;
  }

  #header-blocks /* Wrapper for any blocks placed in the header region */
  {
  }

  #header-right-blocks
  {
    float: left;
    margin: 10px 10px 0 5px;
  }

  #header-right-blocks ul
  {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #header-right-blocks li
  {
    float: left;
    padding: 0 10px 0 0;
  }

  #header-right-blocks li a
  {
    background:none;
    border-width: 0px;
    color:#000000;
    display:block;
    font-size:1em;
    font-weight:bold;
    height:auto;
    margin:0px;
    padding: 0 1em 0 0;
    text-transform: none;  
  }

  #header-right-blocks li a:hover, #header-right-blocks li a:focus
  {
    background: none;
    color: #000000;
    text-decoration: underline;
  }

  #header-right-blocks li ul li a
  {
    font-weight: normal;
  }

/** main (container for everything else) **/
  #main
  {
  }

  #main-inner
  {
  }

  /** topbanner */
  #topbanner 
  {
    background:transparent url(images/single_banner.png) no-repeat scroll 0%;
    border-bottom:1px solid #999999;
    height:70px;  
    border-top: 1px solid #999999;
  }

  .front #topbanner 
  {
    background:transparent url(images/home_banner.png) no-repeat scroll 0%;
  }

  .section-admin #topbanner 
  {
    background:transparent url(images/archive_banner.png) no-repeat scroll 0%;
  }

/** content **/
  #content
  {
    font-size: 1.1em;
  }

  #content-inner
  {
  }

  #mission /* The mission statement of the site (displayed on homepage) */
  {
    margin: 0 0 0 20px;
  }

  #mission-inner
  {
    background:#F3F9FF none repeat scroll 0%;
    border-bottom:1px solid #DADADA;
    border-top:1px solid #DADADA;
    margin:0pt 0pt 1em;
    padding:0.5em 1em 0pt;
    color:#224970;
    font-size:0.8em;
    font-weight:bold;
    letter-spacing:0.1em;
    line-height:2.5em;
    text-transform:uppercase;
  }

  #content-top /* Wrapper for any blocks placed in the "content top" region */
  {
  }

  #content-header /* Wrapper for breadcrumb, title, messages, tabs, and help */
  {
  }

  .breadcrumb /* The path to the current page in the form of a list of links */
  {
      /* padding-bottom: 0; /* Undo system.css */
    background:#FFFFFF none repeat scroll 0%;
    color:#000000;
    float:left;
    font-family:arial,sans-serif;
    font-size:2em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:700;
    letter-spacing:-0.036em;
    line-height:normal;
    margin:20px 0pt 0pt;
    padding:1px 5px 1px 0pt;
    text-transform:lowercase;
  }
  
  .breadcrumb a 
  {
    color: #000;
  }

  h1.title, /* The title of the page */
  h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
  h3.title /* Comment title */
  {
    margin: 0;
  }

  div.messages /* Important messages (status, warning, and error) for the user */
  {
  }

  div.status /* Normal priority messages */
  {
    background: #fff;
    border: 2px solid #ccc;
  }

  div.warning /* Medium priority messages */
  {
  }

  div.warning,
  tr.warning,
  body.section-admin tr.warning
  {
  }

  div.error /* High priority messages. See also the .error declaration below. */
  {
  }

  div.error,
  tr.error,
  body.section-admin tr.error
  {
  }

  div.tabs /* See also the tabs.css file. */
  {
  }

  .help /* Help text on a page */
  {
    margin: 1em 0;
  }

  .more-help-link /* Link to more help */
  {
    font-size: 0.85em;
    text-align: right;
  }

  #content-area /* Wrapper for the actual page content */
  {
  }

  .pager /* A list of page numbers when more than 1 page of content is available */
  {
    clear: both;
    margin: 1em 0;
    text-align: center;
  }

  .pager a, .pager strong.pager-current
  {
    padding: 0.5em;
  }

  .feed-icons /* The links to the RSS or Atom feeds for the current list of content */
  {
    margin: 1em 0;
  }

  #content-bottom /* Wrapper for any blocks placed in the "content bottom" region */
  {
  }

/** navbar **/
  #navbar
  {
    border-bottom: 1px solid #999999;
    margin-bottom: 10px;
  }

  #navbar ul /* Primary and secondary links */
  {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  #navbar li
  {
    float: left;
    padding: 0 0 0 0;
    margin: 0;
  }

  #navbar-inner
  {
  }

  #search-box /* Wrapper for the search form */
  {
  }

  #search-title 
  {
    font-size:0.8em;
    font-weight:bold;
    letter-spacing:0.1em;
    line-height:1.8em;
    padding:0pt 0pt 0.6em 5px;
    text-transform:uppercase;    
    margin-bottom: 0;
    margin-top: 0;
  }

  #edit-search-theme-form-1-wrapper label /* Label that says "Search this site:" */
  {
    display: none;
  }

  #search-box #edit-search-theme-form-1-wrapper {
    display: block;
    margin: 0;
    float: left;
    padding: 0;
  }

  #search-box #edit-search-theme-form-1 {
    background:#FFFFFF url(images/input.png) no-repeat scroll 0%;
    border:0pt none;
    color:#E0691A;
    float:left;
    font-weight:bold;
    margin: -1px 0 0 0;
    padding:5px;
    width:292px;
    height: 17px;
  }
  #search-box #edit-submit, #search-box #edit-submit-1, #search-box #edit-submit-2 {
    background:transparent url(images/submit.png) no-repeat scroll 0%;
    border:0pt none;
    color:#FFFFFF;
    float:left;
    font-family:arial,sans-serif;
    font-size:0.9em;
    font-size-adjust:none;
    font-stretch:normal;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    height:24px;
    line-height:normal;
    margin:0pt 0pt 0pt 5px;
    padding:0pt;
    width:65px;
  }

  #primary, #secondary 
  {
    float: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #primary a, #secondary a
  {
    padding: 0 1em;
    margin: 0;
    display: block;
    color: #000;  
    padding-right: 1em;
  }
  
  #primary /* Primary links */
  {
    font-family:Helvetica,Arial;
    font-weight:bold;
    border-top: 1px solid #000;
    background-color: #111;
    height: 2em;
    font-size: 0.8em;
    padding: 0.1em 0;
  }
  #primary ul {
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;  
  }

  #primary a
  {
    font-size: 1.25em;
    color: #fff;
    border-right: 1px solid #999999;
    text-transform: uppercase;
  }

  #primary a:hover, #primary a:focus
  {
     background-color: #323232;
     text-decoration: none;
  }

  #primary li.active a, #primary li.active a:hover
  {
    color: #000;
    background-color: #fff;
  }

  #secondary /* Secondary links */
  {
  }

  #secondary a
  {
    font-size: 1em;
    font-weight: bold;
    border-right: 1px solid #999999;
    margin: 0.25em 0;
  }

  #secondary li.last a
  {
    border-right: none;
  }

  #secondary a:hover, #secondary a:focus
  {
     background-color: #f1f1f1;
     text-decoration: none;
  }

  #secondary li.active a
  {
     background-color: #f1f1f1;
     text-decoration: none;
  }

/** sidebar-left **/
  #sidebar-left
  {
  }

  #sidebar-left-inner
  {
  }

/** sidebar-right **/
  #sidebar-right
  {
  }

  #sidebar-right-inner
  {
  }

/** footer **/
  #footer
  {
    background:transparent url(images/dot.png) repeat-x scroll left top;
    color:#666666;
    padding:1em 0pt 0pt;  
    margin-bottom: 2em;
  }

  #footer-inner
  {
  }

  #footer-message /* Wrapper for the footer message from Drupal's "Site information"
                     and for any blocks placed in the footer region */
  {
  }

/** closure **/
  #closure-blocks /* Wrapper for any blocks placed in the closure region */
  {
  }

/** Menus **/
  ul.menu li, li.expanded, li.collapsed, li.leaf, .block .item-list ul li
  {
    margin: 0;
    padding: 0 0 0.3em;
    list-style-type: none;
    list-style-image: none;
  }
  
  ul.menu li a, li.expanded a, li.collapsed a, li.leaf a, .block .item-list ul li a
  {
    background:transparent url(images/arrow.png) no-repeat scroll right 3px;
    border-bottom:1px solid #DADADA;
    border-left:3px solid #DADADA;
    color:#000000;
    display:block;
    font-size:0.8em;
    font-weight:bold;
    height:19px;
    margin:0pt;
    padding:3px 12px 0pt 7px;
    text-transform:uppercase;  
  }

  ul.menu li a:hover, li.expanded a:hover, li.collapsed a:hover, li.leaf a:hover, .block .item-list ul li a:hover
  {
    background: #f1f1f1 url(images/arrow2.png) no-repeat right 3px; 
    color: #224970;
    text-decoration: none;
  }

  ul.menu li ul, li.expanded ul, li.collapsed ul, li.leaf ul, .block .item-list ul li ul
  { 
    list-style: none; 
    margin: 0; 
    padding: 0.3em 0 0.2em 0.8em; 
  }

  ul.menu li ul li, li.expanded ul li, li.collapsed ul li, li.leaf ul li, .block .item-list ul li ul li
  { 
    padding: 0; margin: 0; 
  }
  
  ul.menu li ul li a, li.expanded ul li a, li.collapsed ul li a, li.leaf ul li a, .block .item-list ul li ul li a
  { 
    border: 0; margin: 0; padding: 0 0 0 12px; text-transform: none; font-size: 0.9em; height: 19px; background: url(images/sub.png) no-repeat; 
  }
  
  ul.menu li ul li a:hover, li.expanded ul li a:hover, li.collapsed ul li a:hover, li.leaf ul li a:hover, .block .item-list ul li ul li a:hover
  { 
    background: #f1f1f1 url(images/sub1.png) no-repeat; 
  }

  ul.menu li a.active, li.expanded a.active, li.collapsed a.active, li.leaf a.active, .block .item-list ul li a.active 
  {
    background: #f1f1f1 url(images/arrow2.png) no-repeat right 3px; 
    color: #224970;
  }

  ul.menu li ul li a.active, li.expanded ul li a.active, li.collapsed ul li a.active, li.leaf ul li a.active, .block .item-list ul li ul li a.active
  { 
    background: #f1f1f1 url(images/sub1.png) no-repeat; 
  }


/** Drupal nodes **/
  .node /* Node wrapper */
  {
    margin-bottom: 1em;
  }

  .node-inner /* Additional wrapper for node */
  {
  }

  .sticky /* A sticky node (displayed before others in a list) */
  {
  }

  .node-unpublished /* Unpublished nodes */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .node-unpublished div.unpublished, /* The word "Unpublished" displayed beneath the content. */
  .comment-unpublished div.unpublished
  {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word; /* A very nice CSS3 property */
  }

  .node-mine /* A node created by the current user */
  {
  }

  .node-teaser /* A node displayed as teaser */
  {
    border-bottom: 1px solid #dadada;
  }

  /* All nodes are given a node-type-FOO class that describes the type of
   * content that it is. If you create a new content type called
   * "my-custom-type", it will receive a "node-type-my-custom-type" class.
   */
  .node-type-page /* Page content node */
  {
  }

  .node-type-story /* Story content node */
  {
  }

  .node h2.title /* Node title */
  {
  }

  .marker /* "New" or "Updated" marker for content that is new or updated for the current user */
  {
    color: #c00;
  }

  .node .picture /* The picture of the node author */
  {
  }

  .node.node-unpublished .picture,
  .comment.comment-unpublished .picture
  {
    position: relative; /* Otherwise floated pictures will appear below the "Unpublished" text. */
  }

  .node .submitted /* The "posted by" information */
  {
  }

  .node .taxonomy /* Node taxonomy (categories) */
  {
    text-align: right;
    font-weight: bold;
  }

  .node .taxonomy ul.links li
  {
    padding: 0 0 0 1em;
  }

  .node .taxonomy ul.links li.first
  {
    padding-left: 0;
  }

  .node .content /* Node's content wrapper */
  {
  }

  .node div.links /* Wrapper for node links */
  {
    margin: 1em 0 1em 0;
  }

  ul.links /* Taxonomy links, node links, comment links */
  {
    margin: 0;
    padding: 0;
  }

  ul.links.inline
  {
    display: inline;
  }

  ul.links li
  {
    display: inline;
    list-style-type: none;
    padding: 0 0.5em;
  }

  .preview .node /* Preview of the content before submitting new or updated content */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal comments **/
  #comments /* Wrapper for all comments */
  {
    margin: 3em 0;
  }

  #comments-title
  {
    background:transparent url(images/stripe.png) repeat scroll 0%;
    border-bottom:1px solid #DADADA;
    color:#000000;
    font-size:0.8em;
    font-weight:bold;
    letter-spacing:0.1em;
    line-height:1.8em;
    margin:0pt 0pt 3.2em;
    padding:0.3em 0pt 0.2em;
    text-transform:uppercase;  
  }

  .comment /* Wrapper for a single comment */
  {
  }

  .comment-inner /* Additional wrapper for a single comment */
  {
    border-bottom:1px solid #DADADA;
    border-right:3px solid #DADADA;
    margin:0pt 0pt 1em;
    overflow-x:hidden;
    padding:0pt 1em 1em 0pt;
  }

  .comment.odd /* An odd-numbered comment in the list of comments */
  {
  }

  .comment.even /* An even-numbered comment in the list of comments */
  {
  }

  .comment-unpublished /* Unpublished comments */
  {
    /* background-color: #fff4f4; */ /* Drupal core uses a #fff4f4 background */
  }

  .comment-unpublished div.unpublished /* The word "Unpublished" displayed beneath the content. See also the div.unpublished declaration in the node section above. */
  {
  }

  .comment-by-author /* A comment created by the node's author */
  {
  }

  .comment-by-anon /* A comment created by an anonymous user */
  {
  }

  .comment-mine /* A comment created by the current user */
  {
  }

  .comment h3.title /* Comment title */
  {
    font-size:0.8em;
    font-weight:normal;
    letter-spacing:0.1em;
    line-height:1.8em;
    padding:0pt 0pt 0.2em;
    text-transform:uppercase;
  }

  .new /* "New" marker for comments that are new for the current user */
  {
    color: #c00;
  }

  .comment .picture /* The picture of the comment author */
  {
  }

  .comment .submitted /* The "posted by" information */
  {
    color:#818181;
    font-style:normal;
  }

  .comment .submitted a /* The "posted by" information */
  {
    color:#333333;
    font-weight:bold;
  }

  .comment .content /* Comment's content wrapper */
  {
  }

  .comment div.links /* Wrapper for comment links. See also the ul.links declaration in the node section above. */
  {
    margin: 1em 0;
  }

  .indented /* Nested comments are indented */
  {
    /* margin-left: 25px; */ /* Drupal core uses a 25px left margin */
  }

  .preview .comment /* Preview of the comment before submitting new or updated comment */
  {
    /* background-color: #ffffea; */ /* Drupal core uses a #ffffea background */
  }

/** Drupal blocks **/
  .block /* Block wrapper */
  {
    margin-bottom: 1em;
  }

  .block.region-odd /* Zebra striping for each block in the region */
  {
  }

  .block.region-even /* Zebra striping for each block in the region */
  {
  }

  .block.odd /* Zebra striping independent of each region */
  {
  }

  .block.even /* Zebra striping independent of each region */
  {
  }

  .region-count-1 /* Incremental count for each block in the region */
  {
  }

  .count-1 /* Incremental count independent of each region */
  {
  }

  .block-inner /* Additional wrapper for block */
  {
  }

  .block h2.title /* Block title */
  {
    color:#A11B1B;
    font-size:0.8em;
    font-weight:bold;
    letter-spacing:0.1em;
    line-height:1.8em;
    padding:0pt 0pt 0em;
    text-transform:uppercase;  
    margin-bottom: 0.5em;
    margin-top: 0px;

  }

  .block .content /* Block's content wrapper */
  {
  }

  #block-aggregator-category-1 /* Block for the latest news items in the first category */
  {
  }

  #block-aggregator-feed-1 /* Block for the latest news items in the first feed */
  {
  }

  #block-block-1 /* First administrator-defined block */
  {
  }

  #block-blog-0 /* "Recent blog posts" block */
  {
  }

  #block-book-0 /* "Book navigation" block for the current book's table of contents */
  {
  }

  #block-comments-0 /* "Recent comments" block */
  {
  }

  #block-forum-0 /* "Active forum topics" block */
  {
  }

  #block-forum-1 /* "New forum topics" block */
  {
  }

  #block-menu-2 /* "Primary links" block */
  {
  }

  #block-node-0 /* "Syndicate" block for primary RSS feed */
  {
  }

  #block-poll-0 /* "Most recent poll" block */
  {
  }

  #block-profile-0 /* "Author information" block for the profile of the page's author */
  {
  }

  #block-search-0 /* "Search form" block */
  {
  }

  #block-statistics-0 /* "Popular content" block */
  {
  }

  #block-user-0 /* "User login form" block */
  {
  }

  #block-user-1 /* "Navigation" block for Drupal navigation menu */
  {
  }

  #block-user-2 /* "Who's new" block for a list of the newest users */
  {
  }

  #block-user-3 /* "Who's online" block for a list of the online users */
  {
  }

/** Drupal boxes **/
  /* Wrapper for Comment form, Comment viewing options, Menu admin, and
   * Search results.
   */
  .box /* Wrapper for box */
  {
  }

  .box-inner /* Additional wrapper for box */
  {
  }

  .box h2.title /* Box title */
  {
  }

  .box .content /* Box's content wrapper */
  {
  }

/** Miscellaneous Drupal styles **/
  .error /* Errors that are separate from div.messages status messages (see above.) */
  {
    /* color: #e55; */ /* Drupal core uses a #e55 background */
  }

  .warning /* Warnings that are separate from div.messages status messages (see above.) */
  {
    /* color: #e09010; */ /* Drupal core uses a #e09010 background */
  }

  .more-link /* Aggregator, blog, and forum more link */
  {
    text-align: right;
  }

  #user-login-form /* Drupal's default login form */
  {
    text-align: left;
  }

  tr.even, tr.odd /* Some tables have rows marked even or odd. See also the ".section-admin tr.even" declaration below. */
  {
    border-bottom: none;
    padding: 0;
  }

  tr.even
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  tr.odd
  {
    /* background-color: #eee; */ /* Drupal core uses a #eee background */
  }

  li a.active /* The active item in a Drupal menu */
  {
    color: #000;
  }


/** Drupal forms **/
  .form-item, /* Wrapper for a form element (or group of form elements) and its label */
  .form-checkboxes,
  .form-radios
  {
    margin: 1em 0;
  }

  .form-item textarea
  {
    font-size: 100%;
  }

  .form-item input.error, /* Highlight the form elements that caused a form submission error */
  .form-item textarea.error,
  .form-item select.error
  {
    border: 2px solid #c00;
  }

  .form-item label /* The label for a form element */
  {
    display: block;
    font-weight: bold;
  }

  .form-item label.option /* The label for a radio button or checkbox */
  {
    display: inline;
    font-weight: normal;
  }

  .form-required /* The part of the label that indicates a required field */
  {
    color: #c00;
  }

  .form-item .description /* The descriptive help text (separate from the label) */
  {
    font-size: 0.85em;
  }

  .form-checkboxes .form-item, /* Pack groups of checkboxes and radio buttons closer together */
  .form-radios .form-item
  {
    margin: 0.4em 0;
  }

  .form-submit /* The submit button */
  {
  }

  .container-inline div, .container-inline label /* Inline labels and form divs */
  {
    display: inline;
  }

  .content-add-more 
  {
    margin-bottom: 1em;
  }

  .tips /* Tips for Drupal's input formats */
  {
    margin: 0;
    padding: 0 0 0 4.44em;
    font-size: 0.9em;
  }

/** OpenID **/
  /* The default styling for the OpenID login link seems to assume Garland's
   * styling of list items.
   */
  #user-login-form ul /* OpenID creates a new ul above the login form's links. */
  {
    margin-bottom: 0; /* Position OpenID's ul next to the rest of the links. */
  }

  #user-login-form li.openid-link, /* The "Log in using OpenID" links. */
  #user-login li.openid-link
  {
    margin-top: 1em;
    margin-left: -20px; /* Un-do some of the padding on the ul list. */
    padding-left: 20px;
    background-position: left center;
  }

  #user-login-form li.user-link, /* The "Cancel OpenID login" links. */
  #user-login li.user-link
  {
    margin-top: 1em;
    list-style-type: disc;
    list-style-position: outside;
  }

  #user-login li.openid-link, /* The OpenID links on the /user form. */
  #user-login li.user-link
  {
    margin-left: -2em; /* Un-do all of the padding on the ul list. */
  }

/** Drupal admin tables **/
  /* We overrode these styles in html-elements.css, but restore them for the
   * admin section of the site.
   */
  .section-admin tbody
  {
    border-top: 1px solid #ccc;
  }

  .section-admin th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  .section-admin tbody th
  {
    border-bottom: 1px solid #ccc;
  }

  .section-admin thead th
  {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #ccc;
  }

  .section-admin tr.even,
  .section-admin tr.odd
  {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 0.1em 0.6em;
  }

  li.done  /* For install and update pages */
  {
    color: #444;
    text-decoration: line-through;
  }

  div.admin-panel
  {
    border: 1px solid #dadada;
    margin-bottom: 2em;
  }

  div.admin-panel h3
  {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;  
    background-color: #f1f1f1;
  }

  /* Theme icon */
  .pp_icon
  {
    text-align: right;
  }
  